:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary_clr: #57b85c;
  --border_1: #e5dede;
}
@theme {
  --color-midnight: #121063;
  --color-tahiti: #3ab7bf;
  --color-primary: #57b85c;
  /* Border Colors */
  --color-border_1: #f2f2f2;
  --radius-theme: 100px;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
